:root {
    --orange: #E97451;
    --orange_dark: #87432F;
    --teal: #007787;
    --teal_dark: #005A66;
    --yellow: #F6B449;
    --yellow_dark: #9C722E;

    --green: #179C78;
    --green_light: #51E9C0;
}