.body {
    width: 100%;
    height: 100vh;
}

.center_text {
    text-align: center;
}

.top_pad {
    padding-top: 1rem;
}


.larger {
    font-size: 1.5rem;
}

.numeric_cell {
    text-align: center;
}

.non_numeric_cell {
    text-align: left;
}
