.body {
    width: 100%;
    height: 100vh;
}

.center_text {
    text-align: center;
}

.top_pad {
    padding-top: 1rem;
}

.bot_pad {
    padding-bottom: 1rem;
}


.larger {
    font-size: 1.5rem !important;
}

.numeric_cell {
    text-align: center;
}

.non_numeric_cell {
    text-align: left;
}

.landing {
    > div {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.home-right {
    text-align: right;
}

@media screen and (max-width: 48em) {
    .home-right {
        text-align: left;
    }
}

.table-header {
    // position: fixed;
}
